<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <title>
        Quizer
        {% block title %}
            Base
        {% endblock %}
    </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'quiz/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/css/social/social.css' %}">
{% endblock %}
</head>
<body>
{% block body %}
    {% block navigation %}
       <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </div>
            <ul class="nav navbar-nav">
              <li>
                  <a href="/">
                      Home
                  </a>
              </li>
                <li>
                  <a href="/records">
                      Records
                  </a>
                </li>
              {% if not request.session.logged %}
                    <li><a href="/admin">Admin</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/signup">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </a>
                    </li>
              {% else %}
                    <li>
                        <a href="/quizes">
                            Quizes
                        </a>
                    </li>
                    <li>
                        <a href="/admin">
                            Admin
                        </a>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/profile">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ request.session.username }}
                            </a>
                        </li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span></a></li>
                {% endif %}
            </ul>
          </div>
        </nav>
    {% endblock %}
    {% block content %}
        <h1>Body</h1>
    {% endblock %}
    {% block footer %}
        <footer class="footer">
            <div class="container">
                <ul class="soc">
                    <li><a class="soc-facebook" href="http://facebook.com/zhufyakvv"></a></li>
                    <li><a class="soc-vkontakte" href="http://vk.com/zhufyakvv"></a></li>
                    <li><a class="soc-linkedin" href="http://linkedin.com/in/zhufyakvv"></a></li>
                    <li><a class="soc-github" href="http://github.com/zhufyakvv"></a></li>
                    <li><a class="soc-googleplus" href="http://plus.google.com/zhufyakvv"></a></li>
                    <li><a class="soc-telegram" href="telegram:@zhufyakvv"></a></li>
                    <li><a class="soc-skype" href="skype:zhufyakvv"></a></li>
                    <li><a class="soc-mail soc-icon-last" href="mailto:zhufyakvv@gmail.com"></a></li>
                </ul>
            </div>
        <div class="container">
            <a>by Zhufyak Vadym</a>
        </div>
        </footer>
    {% endblock %}
{% endblock %}
</body>
</html>