{% extends 'quiz/base.html' %}
{% block title %}
    Home
{%  endblock %}
{% block content %}
    <div class="jumbotron">
    {% if message %}
        <div class="panel panel-primary">
            <div class="panel-heading">Message</div>
            <div class="panel-body">
                <h4>
                    <strong>{{ message }}</strong>
                </h4>
            </div>
        </div>
    {% endif %}
        <hr>
        <h2><strong>Hello, friend!</strong></h2>
        <h4>Welcome to Quizer. </h4>
        <h4>Better place for answers and questions.</h4>
        {%  if request.session.logged %}
            <a class="btn btn-primary btn-success" href="/profile" role="button">Profile</a>
            <a class="btn btn-primary btn-danger" href="/login" role="button">Log Out</a>
        {% else %}
            <h4>If you are new here, you can register by clicking below. And good luck :)</h4>
            <a class="btn btn-primary btn-success" href="/signin" role="button">Sign In</a>
            <a class="btn btn-primary btn-info" href="/login" role="button">Log In</a>
        {% endif %}
        <hr>
    </div>
{% endblock %}